/* ==================== HEADER ==================== */

.header {
	position: fixed;
	width: 100%;
	height: 93px;
	z-index: 50;
	background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.20) 0%, rgba(247, 94, 5, 0.20) 100%);
	background-color: rgb(255, 255, 255);
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 92px;
	gap: 60px;
}

.header__burger {
	display: none;
}

.burger__block {
	width: 20px;
	height: 3px;
	background-color: black;
}

.burger__block:not(:last-child) {
	margin-bottom: 5px;
}

.menu {
	flex-grow: 1;
}

.menu__items {
	display: flex;
	column-gap: 40px;
	row-gap: 5px;
	flex-wrap: wrap;
	font-weight: 700;
	line-height: 160%;
}

.menu__link {
	transition: all 0.3s ease 0s;
}

.header__actions {
	display: flex;
	align-items: center;
	column-gap: 36px;
	row-gap: 5px;
}

.header__auth {
	display: flex;
	gap: 5px;
	font-weight: 700;
	line-height: 160%;
}

.auth__log {
	display: flex;
	gap: 8px;
	flex-shrink: 0;
}

.auth__log::before {
	content: "";
	flex: 0 1 20px;
	width: 20px;
	height: 20px;
	background: url(../img/icons/Person.svg) center no-repeat;
	align-self: center;
}

.auth__reg::before {
	content: "/";
	margin-right: 5px;
}

.menu__link:hover,
.auth__link:hover,
.enjoy__showreel-link:hover {
	color: red;
}