.decor-1 {
	background: url(../img/decore/shapes-2.svg) 0 0 no-repeat;
	width: 96px;
	height: 96px;
	position: absolute;
	top: 12.3%;
	left: 4.3%;
}

.decor-2 {
	background: url(../img/decore/shapes-2.svg) 0 0 no-repeat;
	width: 110px;
	height: 110px;
	position: absolute;
	top: -2.5%;
	right: 5.0%;
	transform: rotate(135deg);
}

.decor-3 {
	background: url(../img/decore/Group.svg) 0 0 no-repeat;
	width: 284px;
	height: 284px;
	position: absolute;
	bottom: -11%;
	left: 0;
}

.decor-4 {
	background: url(../img/decore/dots.svg) 0 0 no-repeat;
	width: 187px;
	height: 137px;
	position: absolute;
	bottom: 18%;
	right: -2%;
}

.decor-5 {
	background: url(../img/decore/Vector.svg) 0 0 no-repeat;
	width: 61px;
	height: 61px;
	position: absolute;
	bottom: 24.2%;
	left: 38%;
}

.decor-6 {
	background: url(../img/decore/shapes-1.svg) 0 0 no-repeat;
	width: 88px;
	height: 47px;
	position: absolute;
	bottom: 50.6%;
	left: 40.7%;
}

.decor-7 {
	background: url(../img/decore/Group-gold.svg) 0 0 no-repeat;
	width: 181px;
	height: 100%;
	position: absolute;
	top: 35%;
	left: 0;
}

.decor-8 {
	background: url(../img/decore/circles-gold.svg) 0 0 no-repeat;
	width: 287px;
	height: 287px;
	position: absolute;
	top: 58%;
	right: -8.6%;
}