@font-face {
	font-family: "Larsseit";
	src: url(../fonts/AnyConv.com__Larsseit-Bold.woff2) format(woff2), url(../fonts/AnyConv.com__Larsseit-Bold.woff) format(woff);
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url(../fonts/AnyConv.com__Larsseit-Medium.woff2) format(woff2), url(../fonts/AnyConv.com__Larsseit-Medium.woff) format(woff);
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url(../fonts/AnyConv.com__Larsseit\ Regular.woff2) format(woff2), url(../fonts/AnyConv.com__Larsseit\ Regular.woff) format(woff);
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}