@import	url('reset.css');
@import url('languages.css');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

@font-face {
	font-family: "Lato";
	src: url(../fonts/AnyConv.com__Lato-Black.woff2) format(woff2), url(../fonts/AnyConv.com__Lato-Black.woff) format(woff);
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/AnyConv.com__Lato-Bold.woff2) format(woff2), url(../fonts/AnyConv.com__Lato-Bold.woff) format(woff);
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/AnyConv.com__Lato-Regular.woff2) format(woff2), url(../fonts/AnyConv.com__Lato-Regular.woff) format(woff);
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "Lato";
}

h1 {
	font-family: 'Larsseit';
	font-weight: 900;
}

h2 {
	font-family: 'Marck Script', cursive;
	font-size: 22px;
}

p {
	color: rgb(7, 188, 67);
}

h2 ~ p {
	color: blue;
}

h2 + p {
	color: black;
}

li {
	color: blueviolet;
}

.history > h2 {
	color: rgb(193, 16, 16);
}

.now li {
	color: rgb(241, 87, 179);
}

.members > h2 {
	color: black;
}

.exemp ~ h2 {
	color: rgb(15, 210, 28);
}

h2 {
	color: black;
}

.point li {
	color: lawngreen;
}

.disk > h3 {
	color: aqua;
}

h2 + .albom {
	color: rgb(7, 190, 71);
}

h4 {
	color: black;
}

.links > h2 {
	color: rgb(196, 116, 246);
}

