.header {
}
.main {
}
.main-container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 20px;
	font-size: 20px;
}

.block div {
	height: 100px;
	width: 100px;
	background-color: aquamarine;
	display: inline-block;
	margin-right: 20px;
}

.first {
	border-radius: 50%;
	border: 3px dashed black;
}

.second {
	outline: 5px solid black;
}

.third {
	border-bottom: 4px solid #5214d6;
	border-right: 4px dashed #060606;
	border-radius: 20%;
}

.fourth {
	box-shadow: inset 1px 1px 12px 15px gold;
}

.fifth {
	box-shadow: 10px 5px 5px red, -10px -5px 5px red;
}

.sixth {
	border-top: 8px dotted blue;
	border-bottom: 8px double blue;
}

div.seventh {
	background-color: #5214d6;
	opacity: 0.4;
}

.eight {
	visibility: hidden;
}

.ninth {
	outline: 8px dotted blueviolet;
	border-bottom: 10px double brown;
	border-right: 10px double brown;
	border-bottom-right-radius: 40%;
}

div.tenth {
	background-color: #060606;
	border: 1px solid black;
	border-radius: 50%;
	box-shadow: inset 20px 2px white;
}

.block {
	margin-bottom: 30px;
}

span {
	font-size: 36px;
	line-height: 120%;
	outline: 3px solid blue;
	border: 10px dotted blue;
	background-color: aquamarine;
	text-shadow: 1px 5px 9px #060606;
	box-shadow: inset 30px 40px white;
}

.span {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer {
}