[class*="container"] {
	max-width: 1200px;
	margin: 0 auto;
}

.container div {
	font-size: 36px;
	margin-bottom: 30px;
}

.first {
	background: url(../img/green_1.jpg) 0 0 / cover;
	background-attachment: fixed;
}

.second {
	background: url(../img/green_2.jpg) 0 0 / 15% ;
	height: 250px;
}

.third {
	background: url(../img/green_3.jpg) 0 0 /contain no-repeat;
}

.fourth {
	background-color: brown;
	background: brown url(../img/green_4.jpg) top right / contain no-repeat;
}

.fifth {
	height: 300px;
	background: url(../img/green_5.jpg) left top / 500px no-repeat, url(../img/green_3.jpg) 400px 20px / 400px no-repeat, greenyellow;
}